.header__navigate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.header__navigate-link {
    text-decoration: none;
    color: #B6BCBF;
    margin-right: 42px;
    padding: 0;
}

.header__navigate-link_active {
    border-bottom: solid 3px white;
    text-decoration: none;
    color: white;
    margin-right: 42px;
    margin-bottom: -26px;
    padding-bottom: 23px;
}

.header__navigate-link:nth-of-type(2){
    margin-left: 34px;
    margin-right: 83px;
}
