.search {
    width: 100%;
}

.search__container {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 80px;
    margin-top: -110px;
}